body {
  font-family: 'Noto Sans JP', sans-serif;
}

.btn-sq-lg {
    width: 150px !important;
    height: 150px !important;
  }
  
  .btn-sq {
    width: 100px !important;
    height: 100px !important;
  }
  
  .btn-sq-sm {
    width: 50px !important;
    height: 50px !important;
    font-size: 10px;
  }
  
  .btn-sq-xs {
    width: 25px !important;
    height: 25px !important;
    padding:2px;
  }
  
#small_button, #kids_button{
  width:4rem !important;
  height:4rem !important;
}

#regular_button {
  width:7rem !important;
  height:7rem !important;
}

#king_button {
  width:10rem !important;
  height:10rem !important;
}